@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-MediumItalic.woff2' format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-LightItalic.woff2' format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-Light.woff2' format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-Italic.woff2' format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-Bold.woff2' format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-BoldItalic.woff2' format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-Regular.woff2' format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: 'Ubuntu-Medium.woff2' format('woff2');
    font-weight: 500;
    font-style: normal;
}

