<section class="content blog-list" *ngIf="posts && radio">
  <div class="wrapper" >
    <div class="row" *ngIf="type == 'col'">
      <div class="col-12">
        <h1 class="title">
          Notícias
        </h1>
      </div>
    </div>
    <div *ngIf="type == 'col'">
      <div class="row">
        <div class="col-6" *ngFor="let post of posts.posts">
          <a [routerLink]="'/blog/post/'+post.url" class="post-list col">
            <div class="thumb" *ngIf="configs">
              <img *ngIf="post.file" src="{{ configs.link_file+post.file }}" class="img-responsive" alt="">
            </div>
            <div class="name">
              {{ post.name }}
            </div>
            <div class="btns">
              <a href="" class="btn">
                saiba mais
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="type == 'row'">
      <div class="col-12"  *ngFor="let post of posts.posts">
        <a [routerLink]="'/blog/post/'+post.url" class="post-list row">
          <div class="col-4">
            <div class="thumb">
              <img *ngIf="post.file" src="{{ configs.link_file+post.file }}" class="img-responsive" alt="">
            </div>
          </div>
          <div class="col-7 offset-1">
            <div class="name">
              {{ post.name }}
            </div>
            <div class="desc">
              {{ post.desc }}
            </div>
            <div class="btns">
              <div class="btn">
                saiba mais
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
