<header *ngIf="radio">
    <div class="wrapper only-desktop">
      <div class="row bar" *ngIf="social">
        <div class="col-2" >
          <a *ngIf="social.phone" href="tel://{{social.phone}}" target="_blank" >
            {{social.phone}}
          </a>
        </div>
        <div class="col-5">
          <a *ngIf="social.email" href="mailto://{{social.email}}" target="_blank" class="site" >
            {{social.email}}
          </a>
        </div>
        <div class="col-5">
          <div class="social">
            <a *ngIf="social.twitter" href="{{social.twitter}}" target="_blank" >
              <fa name="twitter"></fa>
            </a>
            <a *ngIf="social.facebook" href="{{social.facebook}}" target="_blank" >
              <fa name="facebook"></fa>
            </a>
            <a *ngIf="social.instagram" href="{{social.instagram}}" target="_blank" >
              <fa name="instagram"></fa>
            </a>
            <a *ngIf="social.whatsapp" href="https://wa.me/55{{social.whatsapp}}" target="_blank" >
              <fa name="whatsapp"></fa>
            </a>
            <a *ngIf="social.linkedin" href="{{social.linkedin}}" target="_blank" >
              <fa name="linkedin"></fa>
            </a>
          </div>
        </div>
      </div>
      <div class="row menu">
        <div class="col-4">
          <a [routerLink]="'/'" class="logo">
            <img [src]="logo" class="img-responsive">
          </a>
        </div>
        <div class="col-8">
          <div class="links">
            <a [routerLink]="'/'">
              <span>
                Index
              </span>
            </a>
            <a [routerLink]="'blog'">
              <span>
                Notícias
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper only-mobile menu-mobile">
      <div class="row">
        <div class="col-12">
          <a (click)="toggleMenu()"  class="toggle-menu">
            <fa [name]="'bars'"></fa>
          </a>
          <a [routerLink]="'/'" class="logo">
            <img [src]="logo" class="img-responsive">
          </a>
          <div class="links" *ngIf="openMenu">
            <a [routerLink]="'/'">Index</a>
            <a [routerLink]="'blog'">Notícias</a>
          </div>
        </div>
      </div>
    </div>
  </header>