<section class="player" *ngIf="radio">
  <div class="wrapper">
    <div class="row">
      <div class="col-5 mb-6" >
        <div *ngIf="rds">
          <p class="music">
            {{ rds.songTitle }}
          </p>
          <p class="artist">
            {{ rds.artist }}
          </p>
        </div>
        <div *ngIf="!rds">
          <p class="music">
            {{ radio.name }}
          </p>
          <p class="artist">
              {{ radio.announcement }}
          </p>
        </div>
      </div>
      <div class="col-1 mb-2 only-desktop">
        <!-- <a class="action">
          <fa [name]="'heart'"></fa>
        </a> -->
      </div>
      <div class="col-1 mb-4">
        <a class="action play" (click)="togglePlay()">
          <fa *ngIf="!playing" [name]="'play'"></fa>
          <fa *ngIf="playing" [name]="'pause'"></fa>
        </a>
      </div>
      <div class="col-1 mb-2">
        <a class="action" (click)="share()">
          <fa [name]="'share-alt'"></fa>
        </a>
      </div>
      <div class="col-4 mb-6 only-desktop">
        <div class="vol">
          <ng5-slider [(value)]="value" [options]="options" (userChange)="changeVolume($event)"></ng5-slider>
        </div>
      </div>
    </div>
  </div>
</section>
<app-share [show]="showShare" (share)="toggleShare($event)"></app-share>