@import "variables.scss";
@import "theme.scss";
@import "fonts/stylesheet.scss";
:root {
  --color-default: #000;
  --color-bg: #263238;
  --color-player: #0094a7;
  --color-icons: #263238;
  --color-fonts: #fff;
  --color-menu: #4f5b62;
  --color-degrade-top: #6ef8ff;
  --color-degrade-bottom: #0296a9;
  --color-degrade: linear-gradient(var(--color-degrade-top), var(--color-degrade-bottom));
}
body {
  padding-bottom: 200px;
  background: var(--color-bg);
  color: var(--color-fonts);
}
.menu {
  padding: 2.5em 0;
  .links {
    text-align: right;
    padding: 2em 0;
    a {
      display: inline-block;
      margin: 0 0.5em;
      width: auto;
      text-align: center;
      font-weight: bold;
      font-size: 1.7em;
      
      span:after {
        content: '';
        height: 2px;
        background: none;;
        display: block;
        width: 20%;
        margin: 0 auto;
      }
    }
    a:hover{
      span:after {
        background: var(--color-degrade);
      }
    }
  }
}
.menu-mobile {
  .toggle-menu {
    padding: 30px 0;
    display: inline-block;
    float: left;
    font-size: 30px;
    width: 15%;
    text-align: center;
  }
  .logo-mobile {
    padding: 5px 5%;
    display: inline-block;
    float: left;
    width: 75%;
    text-align: right;
    img {
      max-height: 90px;
      max-width: 200px;
    }
  }
  .links {
    float: left;
    width: 100%;
    padding: 5px 0;
    position: relative;
    border-top: 2px solid var(--color-player);
    a {
      display: block;
      font-size: 1.2em;
      text-align: center;
      padding: 5px 0;
      border-bottom: 1px solid var(--color-player);
    }
  }
}
.title {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding: 20px 0;
  color: var(--color-fonts);
  border-top: solid var(--color-fonts) 0.05em;
}
.title.title-blog {
  border: none;
  font-size: 4em;
}
.blog-list {
  padding: 40px 0;
}
a {
  text-decoration: none;
  color: var(--color-fonts);
}
.bar {
  border-bottom: var(--color-fonts) 0.1em solid;
  padding: 0 0 0.2em ;
  a {
    font-size: $font-default;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 2em;
  }
  a.site {
    display: block;
    text-align: center;
    border: var(--color-fonts) 0.1em solid;
    border-top: none;
    border-bottom: none;
  }
  .social {
    text-align: right;
    display: block;
    a {
      margin: 0 0.2em;
      display: inline-block;
    }
    fa {
      i {
        font-size: 1.3em;
      }
    }
  }
}
.text {
  text-align: left;
  display: block;
  float: left;
  width: 100%;
  p {
    margin: 0 0 10px;
    display: block;
  }
}
.text.text-center {
  text-align: center;
}
.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100px;
  background: var(--color-player);
  color: var(--color-fonts);
  fa {
    display: inline-block;
    text-align: center;
    background: var(--color-fonts);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 10px;
    margin: 48px 0 8px;
  }
  a.play fa {
    margin-top: 8px;
    height: 65px;
    width: 65px;
    i{
      font-size: 45px;
      margin: 10px 0;
    }
  }
  a {
    text-align: center;
    display: block;
  }
  i {
    color: var(--color-player);
    font-size: 25px;
    display: inline-block;
  }
  .vol {
    display: block;
    width: 90%;
    padding: 23px 5%;
  }
  .music {
    font-size: 2em;
    margin: 5px 0;
  }
  .artist {
    font-size: 1.2em;
    margin: 5px 0;
  }
}
.post-list {
  display: block;
  text-align: center;
  padding: 2%;
  width: 96%;
  .thumb, .name, .btns, .desc {
    display: block;
    width: 100%;
    float: left;
    height: auto;
  }
  .thumb {
    height: 350px;
    margin: 20px 0;
  }
  .name {
    margin: 24px 0;
    height: 95px;
    text-overflow: ellipsis;
    font-size: 1.6em;
    font-weight: bold;
    overflow: hidden;
  }
  .desc {
    margin: 5px 0;
    height: auto;
    text-overflow: ellipsis;
    font-size: 1em;
    overflow: hidden;
  }
  .btns {
    text-align: left;
    display: block;
    height: 60px;
    padding: 20px 0;
  }
}
.categories {
  text-align: center;
}
.btn.btn-cat {
  background: none;
  color: var(--color-fonts);
  padding: 15px 40px;
  font-size: 1.7em;
}
.post-list.row {
  .thumb, .name, .btns, .desc {
    text-align: left;
    height: auto;
  }
}
.post {
  .categories {
    .btn {
      display: block;
      width: 96%;
      padding: 10px 2%;
    }
  }
}
@media screen and ($width-name : $target-width) {
  body {
    padding-bottom: 47px; 
  }
  .player {
    height: auto;
    .music {
      font-size: .8em
    }
    .artist {
      font-size: .6em
    }
    a.play fa, fa {
      height: 20px;
      width: 20px;
      margin: 0;
      padding: 5px;
    }
    a.play fa i, fa i {
      font-size: 1em;
      margin: 0;
    }
    a.play fa {
      margin: 0;
    }
    .vol {
      padding: 5px 5%;
    }
    .action {
      padding: 8px 0;
    }
  }
  .post-list {
    .thumb {
      height: auto;
    }
  }
}