* {
  font-family: 'Ubuntu', sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.wrapper {
  max-width: $grid;
  width: 98%;
  padding: 0 1%;
  margin: 0 auto;
}
.row {
  padding: 0;
  width: 100%;
  display: block;
  float: left;
}
body, header, .content {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: $font-default;
  font-weight: bold;
  background: var(--color-degrade);
  color: var(--color-fonts);
  border-radius: 40px;
}
@function width-col($value) {
  @return 100% / 12 * $value;
}
$i: 0;
@for $i from 1 through 12 {
  .col-#{$i} {
    width: width-col($i);
    display: inline-block;
    float: left;
    position: relative;
    min-height: 1px;
  }
  .offset-#{$i}{
    padding: 0 width-col($i)/2;
  }
}
.only-mobile { 
  display: none !important;
}
@media screen and ($width-name : $target-width) {
  .only-mobile { 
    display: block !important;
  }
  .only-desktop { 
    display: none !important;
  }
  $i: 0;  
  @for $i from 1 through 12 {
    .col-#{$i} {
      width : 100%;
    }
    .mb-#{$i} {
      width: width-col($i);
      display: inline-block;
      float: left;
      position: relative;
      min-height: 1px;
    }
  }

}