$grid : 1200px;
$font-default : 1.3em;
$color-default : #000;
$color-degrade: linear-gradient(#67f3fb, #2dccde);
$font-family-default: 'Ubuntu', 'Sans-serif';
$color-background: #fff;
$width-name : 'max-device-width' ;
$target-width: 992px;