<section class="content banner">
    <div class="wrapper" *ngIf="imageUrlArray">
        <slideshow 
          [imageUrls]="imageUrlArray"
          [minHeight]="'30vw'"
          [autoPlay]="true"
          [showArrows]="true"
          [backgroundSize]="'cover'"
          [showDots]="true"
          ></slideshow>
    </div>
  </section>
  <section class="content">
  </section>
  <section class="content">
    <div class="wrapper">
      <div class="row">
        <div class="col-12">
          <app-blog-list type="col" [posts]="posts"></app-blog-list>
        </div>
      </div>
    </div>
  </section>
  <section class="content contact" *ngIf="radio && social">
    <div class="wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="title">
            Contato
          </h2>
        </div>
        <div class="col-12">
          <div class="text text-center text-contact">
            <div *ngIf="logo">
              <img [src]="logo" class="img-responsive" alt="">
            </div>
            <div *ngIf="social.phone">
              <a target="_blank" href="tel://{{social.phone}}" class="tel">
                {{ social.phone }}
              </a>
            </div>
            <div *ngIf="radio.contact" class="address" [innerHtml]="radio.contact">
            </div>
            <div *ngIf="social.email">
              <a target="_blank" href="mailto://{{social.email}}" class="email">
                accessweb@accessweb.com.br
              </a>
            </div>
            <div *ngIf="social.whatsapp">
              <a target="_blank" href="https://wa.me/55{{social.whatsapp}}" class="btn">
                fale conosco!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  