.text-contact {
  div {
    display: block;
    margin: 10px 0;
    float: left;
    width: 100%;
  }
  .tel {
    font-size: 3em;
  }
  .address {
    font-size: 1.4em;
  }
  .email {
    font-size: 1.2em;
  }
}