.text {
  h1 {
    font-size: 1.6em;
    text-align: center;
    margin: 10px 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 1.1em;
    text-align: justify;
    display: block;
    width: 100%;
    margin: 0 0 10px;
    text-indent: 1em;
  }
}
blockquote {
  margin: 0;
}