<section class="content post" >
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="title title-blog">Notícia</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="text" *ngIf="post">
          <h1>
            {{ post.name }}
          </h1>
          <div [innerHtml]="post.text"></div>
        </div>
      </div>
      <div class="col-3">
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>