<section class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <h1 class="title title-blog">
          Notícias
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <app-blog-list type="row" [posts]="posts"></app-blog-list>
</section>
<section class="content">
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div class="pages">
          <a *ngFor="let page of pages" [class]="page.name == currentPage ? 'active' : '' " (click)="loadPosts(page.offset, page.name)" >
            {{ page.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>