.pages {
  text-align: center;
  display: block;
  padding-bottom: 20px;
  a {
    display: inline-block;
    padding: 5px; 
    margin: 5px;
    text-align: center;
    min-width: 20px;
    font-size: 16px; 
    border: var(--color-icons) solid 1px;
    border-radius: 5px;
  }
  a.active {
    border-color: var(--color-player)
  }
}