<div class="share" *ngIf="show">
  <div class="share-wrapper">
    <div class="wrapper">
      <div class="share-content">
        <div class="share-head">
          Compartilhar
          <a class="close" (click)="close()">x</a>
        </div>
        <div class="share-body">
          <button *ngFor="let social of sociais" [class]="social.name" mat-fab [shareButton]="social.name" [style.background]="social.color" >
            <fa [name]="social.name"></fa>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="background" (click)="close()"></div>
</div>

