.share {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  color: #000000;
}
.share-wrapper {
  position: absolute;
  top: 15em;
  left: 0;
  right: 0;
  z-index: 999;
}
.share-content {
  width: 94%;
  margin: 1%;
  padding: 2%;
  float: left;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 5px 0 #eeeeee;
  button {
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
    background: red;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 2px 5px 0 #888888;
  }
}
.background {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.wrapper {
  max-width: 450px;
}
.share-head, .share-body {
  float: left;
  padding: 10px 0;
  width: 100%;
  text-align: center
}
.close {
  float: right;
  text-align: center;
  color: #000000;
}